/** Only for index.html **/

.site-header {
    color: #fff;
    /*background: #4771c1;*/
    background: #4183c4;
}

.site-header #site-header-brand {
    color: #fff;
}

.site-header-nav-item > a {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #fff;
}

.site-header a:hover {
    color: #fff;
}
.icon-logo{fill: #fff;}

.jumbotron {
    background: #4183c4;
    /*background-image:url(https://static.studytime.xin/image/articles/spring-bootc10b457a89983f923b38b01681c922dbb9ba6e2c.svg)*/
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}


.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
